.check{
    color: red;
    background-color: white;
    margin: auto;
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
}

.check:active{
    cursor: pointer;
}

.check:hover{
    cursor: pointer;
}