.loading{
    width:100px;
    margin: auto;
    padding: 10px;
}

.gif{
    width:150px;
    margin-left: -30px;
}

.options{
    display: flex;
    width:30%;
    height: 30px;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
}

.options button{
    background-color: white;
    border: 1px solid rgb(181, 177, 177);
    border-radius: 4px;
    color: rgb(128, 130, 132);
    padding: 6px;
}

.options button:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.veg:active{
    border-color: green;
    color: green;
}

.options button:active{
    border-color: red;
    color: red;
}

.heading{
    width:80%;
    margin: auto;
    margin-top: 30px;
}

.head{
    font-weight: 700;
    letter-spacing: 1.5px;
}

.weight{
    font-weight: 400;
}

.area{
    width:80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px 20px;
}

.redirect{
    width:300px;
    height:300px;
    border-radius: 10px;
    margin: auto;
    margin-top: 200px;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.alert{
    color: red;
    text-decoration: underline;
    margin-top: 0px;
}

.homepage{
    color: red;
    text-decoration: underline;
}

.counter{
    color: red;
    font-weight: 600;
}

.dataLength{
    font-weight: 600;
    font-size: 15px;
    color: red;
}